In [1]:
datos=[3,8,11,16,21,24]

In [7]:
datos = range(1000)

hallar la suma del boble de los numeros pares  
com el paradigma imperativo

In [8]:
%%time
suma = 0
for i in datos:
    if i%2 == 0:
        suma += i*2 # suma = suma + i * 2
suma

CPU times: user 154 µs, sys: 31 µs, total: 185 µs
Wall time: 188 µs

499000

con una lista de comprencion

In [9]:
%%time
suma = sum ( [ x*2 for x in datos if x % 2 == 0 ] )
suma

CPU times: user 106 µs, sys: 22 µs, total: 128 µs
Wall time: 132 µs

499000

In [ ]:
def funcion(parametro):
    ...
    ...
    return( valor)

In [9]:
suma = lambda x,y : x +y

In [11]:
suma(15,12)

27

con paradigma funcional

In [8]:
from functools import reduce

In [12]:
# aca los datos no pasan por bucles evitando que ocurra un error en la iteracion
suma = reduce( lambda x,y: x+y , map( lambda x: x*2 , filter(lambda x: x%2 == 0, datos)))
suma

96

### Funcion map

In [13]:
datos=[3,4,5,6,7,8,9]

In [25]:

#  map pasa por una funcion un o varios iterables
dobles = map (lambda x: x*2, datos)

In [15]:
print(type(dobles))

<class 'map'>

In [16]:
dobles

map genera un iterador que podemos llamar sus valores con next o haciendo un bucle for

In [24]:
next(dobles)

StopIteration:

In [26]:
for i in dobles:
    print(i)

6
8
10
12
14
16
18

In [27]:
next(dobles) # da error por que el bucle for agoto el ieterador y ya no quedan valores

StopIteration:

In [28]:
# tambien se puede convertir en un itarable con list, tuple, set, frozenset
lista_dobles     = list(map(lambda x: x*2,datos))
tupla_dobles     = tuple(map(lambda x: x*2,datos))
conjunto_dobles  = set(map(lambda x: x*2,datos))
conjunto_inm_dob = frozenset(map(lambda x: x*2,datos))

print(type(lista_dobles ),lista_dobles )
print(type(tupla_dobles ),tupla_dobles )
print(type(conjunto_dobles ),conjunto_dobles )
print(type(conjunto_inm_dob ),conjunto_inm_dob )

<class 'list'> [6, 8, 10, 12, 14, 16, 18]
<class 'tuple'> (6, 8, 10, 12, 14, 16, 18)
<class 'set'> {6, 8, 10, 12, 14, 16, 18}
<class 'frozenset'> frozenset({6, 8, 10, 12, 14, 16, 18})

con funciones nuestras

In [29]:
def celc_farh(c):
    return (c*1.2)+ 32

In [30]:
temperaturas=(-32,0,12,25,32,100,150)

In [31]:
far=tuple(map(celc_farh,temperaturas))
far

(-6.399999999999999, 32.0, 46.4, 62.0, 70.4, 152.0, 212.0)

In [35]:
nombres = "emiliano adrian belen luca federico micaela luca".split()
print(nombres)
nombres_capi = list(set(map(str.capitalize,nombres)))
nombres_capi

['emiliano', 'adrian', 'belen', 'luca', 'federico', 'micaela', 'luca']

['Emiliano', 'Federico', 'Micaela', 'Adrian', 'Belen', 'Luca']

In [36]:
def suma(x,y):
    return x+y

In [37]:
numeros1  = (1,2,3,4,5,6,7,8,9)
numeros2  = [9,8,7,6,5,4,3,2,1]
resultado = list(map (suma, numeros1, numeros2 ))
resultado

[10, 10, 10, 10, 10, 10, 10, 10, 10]

### Funcion Filter

In [53]:
def esneg(numero):
    # Devuelve True/False según sea o no nº negativo
    return (numero < 0 and numero % 2 == 0)

lista = [-3, -2, 0, 1, 9, -5,-45,25,35,-102,-0.5]

In [54]:
negt=filter(esneg,lista)

In [55]:
type(negt)

filter

In [49]:
next(negt)

StopIteration:

In [56]:
for i in negt:
    print(i)

-2
-102

In [ ]:
next(negt)

In [57]:
negativos = tuple(filter(lambda x : x<0, lista))

In [58]:
negativos

(-3, -2, -5, -45, -102, -0.5)

In [59]:
datos=(0,1,2,3,4,5,6,7,8,9,10,"",False,True,None,[],[1,2,3],{})

In [60]:
print(list (filter(lambda x : bool(x), datos)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, True, [1, 2, 3]]

In [61]:
print(tuple(filter(bool, datos)))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, True, [1, 2, 3])

In [62]:
print(list (filter(None, datos)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, True, [1, 2, 3]]

In [63]:
print(tuple (filter(lambda x : x is not None, datos)))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, '', False, True, [], [1, 2, 3], {})

In [64]:
print(list (filter(lambda x : x is not False, datos)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, '', True, None, [], [1, 2, 3], {}]

In [65]:
print(tuple (filter(lambda x : x is not True, datos)))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, '', False, None, [], [1, 2, 3], {})

In [66]:
print(list (filter(lambda x : bool(x) is not True, datos)))

[0, '', False, None, [], {}]

In [67]:
metales= {
    "hierro":10,
    "cobre" :11,
    "zinc":25,
    "plata":100,
    "oro":500,
    "aluminio" : 50,
    "plomo" : 25}

In [68]:
print(list( filter( lambda x : (metales[x] >= 100) ,metales)))

['plata', 'oro']

In [69]:
print([x for x in metales if (metales[x] >= 100)])

['plata', 'oro']

In [71]:
print(list(filter(lambda x : "o" in x , filter (lambda x :(metales[x] >= 50) ,metales))))

['oro', 'aluminio']

In [73]:
print(list(filter(lambda x : (metales[x] >= 50) and "o" in x ,metales)))

['oro', 'aluminio']

In [75]:
print([x for x in metales if (metales[x] >= 50) and "o" in x])

['oro', 'aluminio']

In [76]:
selecion = list(filter(lambda x : (metales[x] >= 50) if "o" in  x else None,  metales))
selecion

['oro', 'aluminio']

In [77]:
import functools

def multiplicar(x, y):
    #print(x * y)  # muestra el resultado parcial
    return x * y

lista = [1, 2, 3, 4]
valor = functools.reduce(multiplicar, lista) # pasa la lista por la funcion elemento por elemento acumulando los resultados
print(valor)  # muestra el resultado final

24

In [ ]:
import functools


def myfunc(a, b=2):
    "Docstring for myfunc()."
    print('llamando a my funcion con :', (a, b))


def show_details(name, f, is_partial=False):
    "Show details of a callable object."
    print('{}:'.format(name))
    print('  objeto            :', f)
    if not is_partial:
        print('  __name__          :', f.__name__)
    if is_partial:
        print('  funcion           :', f.func)
        print('  argumentos args   :', f.args)
        print('  llaves de  Kwargs :', f.keywords)
    return


show_details('myfunc', myfunc)
myfunc('a', 3)
print()

# Set a different default value for 'b', but require
# the caller to provide 'a'.
p1 = functools.partial(myfunc, b=4)
show_details('partial con argumento con nombre', p1, True)
#p1('les paso hola')
#p1('y ahora chau', b=5)
print()

# Set default values for both 'a' and 'b'.
p2 = functools.partial(myfunc, 'dato por default ', b=99)
show_details('partial con argumentos por defaults', p2, True)
#p2()
#p2(b='aca va el argumento b')
print()

print('Insufficient arguments:')
p1()